<%- include('../partials/header.ejs') %>
<% if (user) { %>
    <h1>List of Trackers </h1>
    <table class="table" id="tracker-index">
        <thead>
            <th>Pushups\/</th>
            <th>Pullups\/</th>
            <th>Situps\/</th>
            <th>JumpingJacks</th>
        </thead>
        <tbody>
           <% indexTrackers.forEach(function(indexTrackers) { %>
            <tr class="tablebody">
                <td><%= indexTrackers.pushups %></td>
                <td><%= indexTrackers.pullups %></td>
                <td><%= indexTrackers.situps %></td>
                <td><%= indexTrackers.jumpingJacks %></td>
                <form action = "/fitnessTrackers/<%= indexTrackers._id %>?_method=DELETE" method="POST">
                    <button type="submit">Delete tracker</button>
                </form>
                <form action = "/fitnessTrackers/<%= indexTrackers._id %>/edit">
                    <button type="submit">Edit tracker</button>
                </form>
            </tr>
            <% }); %>
        </tbody>
    </table>
    <div id="add-fitnessTracker">
        <a href="/fitnessTrackers/new">Add a tracker</a>
    </div>
    <% } else { %>
    <h1>Welcome to my Progress Tracker</h1>   
    <% } %>
<%- include('../partials/footer.ejs') %>